{
    "swagger": "2.0",
    "info": {
        "description": "UserGhost411 API Free",
        "version": "1.0.7",
        "title": "UserGhost411 API",
        "termsOfService": "-",
        "contact": {
            "email": "admin@userghost.my,id"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "hosta": "preview.userghost.xyz/ugapi",
    "host": "api.userghost.my.id",
    "basePath": "",
    "schemes": [
        "https",
        "http"
    ],
    "tags": [
        {
            "name": "covid",
            "description": "Access Statistic Information WorldWide about COVID-19 pandemic"
        },
        {
            "name": "package",
            "description": "Global Package Tracking API"
        },
        {
            "name": "nonton",
            "description": "Get Movie Schedule from jadwalnonton.com"
        },
        {
            "name": "image",
            "description": "Image Editing Tools"
        }
    ],
    "paths": {
        "/covid": {
            "get": {
                "tags": [
                    "covid"
                ],
                "summary": "get global covid 19 statistic information",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {},
                "security": []
            }
        },
        "/covid/countries": {
            "get": {
                "tags": [
                    "covid"
                ],
                "summary": "get all country name & country code",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {},
                "security": []
            }
        },
        "/covid/countrys/{countrysCode}": {
            "get": {
                "tags": [
                    "covid"
                ],
                "summary": "get covid 19 statistic information from various country (limited by 25 country)",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "countrysCode",
                        "in": "path",
                        "description": "Country ID , example: ```indonesia-us-singapore```",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/covid/country/{countryCode}": {
            "get": {
                "tags": [
                    "covid"
                ],
                "summary": "get covid 19 statistic information by country code",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "countryCode",
                        "in": "path",
                        "description": "Country ID , example: ```indonesia```",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/track/package/{trackingNumber}/{provider}": {
            "get": {
                "tags": [
                    "package"
                ],
                "summary": "get Package Tracking Information by Package Tracking Number (Auto search Data Provider)",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "trackingNumber",
                        "in": "path",
                        "description": "Package Tracking Number , example: ```540500011882622```",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "Package Courier / Data Provider (leave empty for automatic search)",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "",
                                "jne",
                                "jnt",
                                "sicepat",
                                "anteraja",
                                "jx",
                                "sap",
                                "sc",
                                "lalamove"
                            ],
                            "default": "available"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/track/packages/{trackingNumbers}": {
            "get": {
                "tags": [
                    "package"
                ],
                "summary": "get Multiple Package Tracking Information by Package Tracking Number (max 10)",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "trackingNumbers",
                        "in": "path",
                        "description": "Package Tracking Number split by ```-```, example: ```540500011882622-SM70432046998342158```",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/nonton": {
            "get": {
                "tags": [
                    "nonton"
                ],
                "summary": "get trending and primiers movie",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {},
                "security": []
            }
        },
        "/nonton/search/{movieName}": {
            "get": {
                "tags": [
                    "nonton"
                ],
                "summary": "Search movies by Name",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "movieName",
                        "in": "path",
                        "description": "String of Movie Name, example: ```black adam```",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/nonton/detail/{movieID}": {
            "get": {
                "tags": [
                    "nonton"
                ],
                "summary": "get movie Details",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "movieID",
                        "in": "path",
                        "description": "ID of a Movie (findable via search), example: ```2022-hello-ghost```",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/nonton/schedule/{movieID}/{location}": {
            "get": {
                "tags": [
                    "nonton"
                ],
                "summary": "get movie Details with schedule",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "movieID",
                        "in": "path",
                        "description": "ID of a Movie (findable via search), example: ```2022-black-adam```",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "location",
                        "in": "path",
                        "description": "Name a City or place on Indonesia, example: ```tegal```",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "Ambon",
                                "Bali",
                                "Balikpapan",
                                "Bandung",
                                "Bangka",
                                "Banjar",
                                "Banjarbaru",
                                "Banjarmasin",
                                "Banyuwangi",
                                "Batam",
                                "Batu",
                                "Baturaja",
                                "Bau Bau",
                                "Bekasi",
                                "Bengkulu",
                                "Binjai",
                                "Bitung",
                                "Blitar",
                                "Bogor",
                                "Bojonegoro",
                                "Bondowoso",
                                "Bone",
                                "Ciamis",
                                "Cikarang",
                                "Cilacap",
                                "Cilegon",
                                "Cirebon",
                                "Demak",
                                "Depok",
                                "Duri",
                                "Garut",
                                "Gorontalo",
                                "Gresik",
                                "Jakarta",
                                "Jambi",
                                "Jayapura",
                                "Jember",
                                "Jombang",
                                "Karawang",
                                "Kediri",
                                "Kendari",
                                "Ketapang",
                                "Kolaka",
                                "Kotabaru",
                                "Kudus",
                                "Kupang",
                                "Lahat",
                                "Lamongan",
                                "Lampung",
                                "Lebak",
                                "Lombok",
                                "Lubuk Linggau",
                                "Lumajang",
                                "Madiun",
                                "Magelang",
                                "Makassar",
                                "Malang",
                                "Manado",
                                "Manokwari",
                                "Medan",
                                "Mojokerto",
                                "Nganjuk",
                                "Ngawi",
                                "Padang",
                                "Palangkaraya",
                                "Palembang",
                                "Palopo",
                                "Palu",
                                "Pangkal Pinang",
                                "Pasuruan",
                                "Pati",
                                "Pekalongan",
                                "Pekanbaru",
                                "Pematang Siantar",
                                "Ponorogo",
                                "Pontianak",
                                "Poso",
                                "Prabumulih",
                                "Probolinggo",
                                "Purbalingga",
                                "Purwakarta",
                                "Purwokerto",
                                "Salatiga",
                                "Samarinda",
                                "Sampit",
                                "Semarang",
                                "Serang",
                                "Sidoarjo",
                                "Singkawang",
                                "Solo",
                                "Sorong",
                                "Subang",
                                "Sukabumi",
                                "Sumenep",
                                "Surabaya",
                                "Tangerang",
                                "Tanjung Pinang",
                                "Tasikmalaya",
                                "Tegal",
                                "Temanggung",
                                "Ternate",
                                "Trenggalek",
                                "Tuban",
                                "Tulungagung",
                                "Wajo",
                                "Yogyakarta"
                            ],
                            "default": "available"
                        }
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/nonton/at/{location}": {
            "get": {
                "tags": [
                    "nonton"
                ],
                "summary": "get movie that playing at provided location",
                "description": "",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "location",
                        "in": "path",
                        "description": "Name a City or place on Indonesia, example: ```tegal```",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "Ambon",
                                "Bali",
                                "Balikpapan",
                                "Bandung",
                                "Bangka",
                                "Banjar",
                                "Banjarbaru",
                                "Banjarmasin",
                                "Banyuwangi",
                                "Batam",
                                "Batu",
                                "Baturaja",
                                "Bau Bau",
                                "Bekasi",
                                "Bengkulu",
                                "Binjai",
                                "Bitung",
                                "Blitar",
                                "Bogor",
                                "Bojonegoro",
                                "Bondowoso",
                                "Bone",
                                "Ciamis",
                                "Cikarang",
                                "Cilacap",
                                "Cilegon",
                                "Cirebon",
                                "Demak",
                                "Depok",
                                "Duri",
                                "Garut",
                                "Gorontalo",
                                "Gresik",
                                "Jakarta",
                                "Jambi",
                                "Jayapura",
                                "Jember",
                                "Jombang",
                                "Karawang",
                                "Kediri",
                                "Kendari",
                                "Ketapang",
                                "Kolaka",
                                "Kotabaru",
                                "Kudus",
                                "Kupang",
                                "Lahat",
                                "Lamongan",
                                "Lampung",
                                "Lebak",
                                "Lombok",
                                "Lubuk Linggau",
                                "Lumajang",
                                "Madiun",
                                "Magelang",
                                "Makassar",
                                "Malang",
                                "Manado",
                                "Manokwari",
                                "Medan",
                                "Mojokerto",
                                "Nganjuk",
                                "Ngawi",
                                "Padang",
                                "Palangkaraya",
                                "Palembang",
                                "Palopo",
                                "Palu",
                                "Pangkal Pinang",
                                "Pasuruan",
                                "Pati",
                                "Pekalongan",
                                "Pekanbaru",
                                "Pematang Siantar",
                                "Ponorogo",
                                "Pontianak",
                                "Poso",
                                "Prabumulih",
                                "Probolinggo",
                                "Purbalingga",
                                "Purwakarta",
                                "Purwokerto",
                                "Salatiga",
                                "Samarinda",
                                "Sampit",
                                "Semarang",
                                "Serang",
                                "Sidoarjo",
                                "Singkawang",
                                "Solo",
                                "Sorong",
                                "Subang",
                                "Sukabumi",
                                "Sumenep",
                                "Surabaya",
                                "Tangerang",
                                "Tanjung Pinang",
                                "Tasikmalaya",
                                "Tegal",
                                "Temanggung",
                                "Ternate",
                                "Trenggalek",
                                "Tuban",
                                "Tulungagung",
                                "Wajo",
                                "Yogyakarta"
                            ],
                            "default": "available"
                        }
                    }
                ],
                "responses": {},
                "security": []
            }
        },
        "/image/bgremove": {
            "post": {
                "tags": [
                    "image"
                ],
                "summary": "Remove Background from your uploaded image (file cached will be removed in 30 minutes)",
                "description": "",
                "operationId": "uploadFile",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file to upload",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {},
                "security": []
            }
        }
    },
    "securityDefinitions": {},
    "definitions": {},
    "externalDocs": {
        "description": "Find out more about UGAPIDocs",
        "url": "https://github.com/UserGhost411/UGAPIDocs"
    }
}