.api-summary-method {

    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 0.7rem;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.api-summary-path {
    margin-left: 10px;
    font-weight: 600;
}

.api-summary-btn {
    float: right;
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 0.7rem;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
}

.api-summary .card-body {
    padding: .5rem !important;
}

.api-summary {
    margin-bottom: 10px;
}

.api-summary.get {
    background-color: rgba(40, 167, 69, 0.05);
    border: var(--success) solid 1px;
}

.api-summary.get .api-summary-method,
.api-summary.get .api-summary-btn {
    background-color: var(--success);
}

.api-summary.post {
    background-color: rgba(23, 162, 184, 0.05);
    border: var(--info) solid 1px;
}

.api-summary.post .api-summary-method,
.api-summary.post .api-summary-btn {
    background-color: var(--info);
}

.api-summary.put {
    background-color: rgba(255, 193, 7, 0.05);
    border: var(--warning) solid 1px;
}

.api-summary.put .api-summary-method,
.api-summary.put .api-summary-btn {
    background-color: var(--warning);
}

.api-summary.patch {
    background-color: rgba(111, 66, 193, 0.05);
    border: var(--purple) solid 1px;
}

.api-summary.patch .api-summary-method,
.api-summary.patch .api-summary-btn {
    background-color: var(--purple);
}

.api-summary.delete {
    background-color: rgba(220, 53, 69, 0.05);
    border: var(--danger) solid 1px;
}

.api-summary.delete .api-summary-method,
.api-summary.delete .api-summary-btn {
    background-color: var(--danger);
}

[data-toggle="collapse"] .fa:before {
    content: "\f078";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f054";
}

.tryapi {
    padding: .20rem .3rem;
    font-size: .870rem;
    line-height: 1.2;
    border-radius: .2rem;
} 
.ajaxloader{
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-image:url('loading.svg');
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
} 
.ajaxloader.bg{
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#fff;
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}